PORT=4000
MONGODB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/carbon-tool
JWT_SECRET=cambia_este_secret_por_uno_seguro
JWT_REFRESH_SECRET=cambia_este_refresh_secret_por_uno_seguro
JWT_EXPIRES_IN=12h
JWT_REFRESH_EXPIRES_IN=7d
